
.inputGroup {
    width: 30rem;

    label {
        display: block;
        margin-top: 1rem;
        margin-bottom: .4rem;
        font-weight: 800;
        font-size: 1.4rem;
        color: #555;
    }

    .inputField {
        width: 100%;
        padding: .8rem;
        border: .2rem solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: 1.25rem;
    }
}
