.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.Container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
}

.loginLogo {
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 2.25rem; 
    border: 1px solid #e0e0e0; 
    padding: .75rem;
    border-radius: 8px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.75rem;
}

.Subtitle{
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    width: 30rem;
    text-align: center;
    font-weight: 400;
}


.submitButton {
    margin-top: 2.5rem;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.3rem;

    &:hover {
        background-color: var(--primary-color-lighter);
    }
}

.labelContainer{
    margin-top: 1rem;
}


.passwordForgot{
        margin-top: .8rem;
        margin-bottom: 0.4rem;
        font-weight: 800;
        font-size: 1.4rem;
        color: #555;
}

.passwordForgotContainer {
    text-align: center;
    margin-top: 1.5rem;
}

.passwordForgotLink {
    color: #A0A7AF;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 1rem;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.backSubtitle {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-size: 1.25rem;
    color: #616467;
    font-weight: 600;
    margin-top: 2rem;
    margin-right: 1.2rem;

    svg {
        font-size: 1.75rem;
        margin-right: .5rem;
    }
}


.backSubtitle:hover{
    text-decoration: underline;
    cursor: pointer;
}