.container {
  padding: var(--spacing-md);
  margin-left: var(--sidebar-width); 
}

h1 {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-lg); 
  padding-left: calc(var(--sidebar-width) / 6);
}

.payrollTitles {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: var(--spacing-sm); 
  padding: calc(var(--sidebar-width) / 6);
  padding-top: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.payrollsubTitles {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: var(--spacing-sm); 
  padding: calc(var(--sidebar-width) / 6);
  padding-top: 0rem;
  padding-bottom: 2rem;
  padding-right: 10rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.scrollableArea {
  max-height: 42.5rem;  
  overflow-y: auto;   
}

.payrollList {
  list-style-type: none;
  padding: 0; 
  padding-left: calc(var(--sidebar-width) / 6);
}

.payrollItem {
  padding: var(--spacing-md) 0; 

  span {
    font-weight: 600;
  }
}

.PayrollContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color); 
  padding-right: 10rem;
}

.dlbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg{
    font-size: 1.8rem;
    font-weight: 200;
  }
}

.btnDLall{
display: flex;
align-items: center;
justify-content: center;
width: 10rem;
background-color: var(--primary-color);
color: white;
border: none;
border-radius: 0.5rem;
font-size: 1rem;
cursor: pointer;
}

.btnDLall:hover{
  background-color: var(--primary-color-lighter);
}