.container {
      padding: var(--spacing-md);
      margin-left: var(--sidebar-width); 
      display: flex;
      justify-content: start;
      align-items: center;
}

.content {
  padding-left: 3rem;
}

.subtitle {
  padding-bottom: 3rem;
  padding-top: 1.5rem;
  display: flex; 
  justify-content: space-between; 
  font-size: 1.25rem;
  font-weight: 600;
}

.header {
  display: flex; 
  justify-content: space-between; 
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.calendar {
    width: 42.5rem; 
    height: 31rem;
    border-radius: var(--border-radius-md);  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: white;
    padding: 1rem; 
    font-size: 1.5rem;
}

.title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  
}

.calendarSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoSection{
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  padding: 3rem;
  width: 20rem;
  margin-left: 3rem;
  font-size: 1rem;
}
