.sidebar {
    width: var(--sidebar-width);
    background-color: var(--card-background-color);
    height: 100%;
    min-height: 100vh;
    padding-left: var(--spacing-md); 
    position: fixed; 
    top: 0;          
    left: 0;         
    z-index: 100;   
}

.content {
    margin-left: var(--sidebar-width); 
    padding: var(--spacing-md);
    background-color: var(--background-color); 
    min-height: 100vh; 
}


.title {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-lg); 
    color: var(--text-color);
}

.menu {
    list-style: none;
    padding: 0;
}

.menuItem {
    font-size: var(--font-size-sidebar);
    padding: var(--spacing-lg) 0;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s; 
    &:hover {
        color: var(--primary-color-lighter); 
    }

    svg {
        font-size: var(--font-size-sidebar-icon);
        margin-right: var(--spacing-md);
        vertical-align: middle;
    }
}

.selected {
    color: var(--primary-color); 
}
