:root {
  --background-color: #FFFFFF;
  --card-background-color:#F5F5F7; 
  --text-color: black;
  --primary-color: #4F4FED;
  --primary-color-lighter: #6767ED;
  --sucess-color: #25CA75;
  --danger-color: #e74c3c;
  --border-color: #dddddd;
  --details-color: #f3a83c;

  --font-family-base: 'Roboto', sans-serif;
  --font-size-base: 1rem; 
  --font-size-small: .5rem; 
  --font-size-large: 1.75rem; 
  --font-size-sidebar: 1.5rem;
  --font-size-sidebar-icon: 2rem;
  --line-height-base: 1.6;
  

  --spacing-xs: 0.25rem; 
  --spacing-sm: 0.5rem; 
  --spacing-md: 1rem; 
  --spacing-lg: 1.5rem; 
  --spacing-xl: 2rem; 

  --navbar-height: 5rem;
  --footer-height: 6rem;
  --sidebar-width: 22.5rem;

  --border-radius-md:.8rem;
  --border-radius-lg:1rem;

}

html {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  
}

ul {
  list-style-type: none;
}

body{
  padding: 0rem;
  margin: 0rem;
}

.Toastify__toast--success {
  font-weight: 600;
}

.Toastify__progress-bar--success {
  background-color: var(--primary-color) !important;
}
